<mat-toolbar color="primary">
    <a mat-button class="companyName" routerLink="">
      <span>Contactless Auth</span>
    </a>
    <span class="fill-remaining-space"></span>
    <a mat-button class="role">
      <span>{{role}}</span>
    </a>
    <app-menu 
      [options]="options$ | async"
      (themeChange)="themeChangeHandler($event)">
    </app-menu>
<button mat-icon-button class="icon" [matMenuTriggerFor]="menu">
<mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
<button mat-menu-item [routerLink]="linksys">
<mat-icon>home</mat-icon>
<span>Home</span>
</button>
<button mat-menu-item [routerLink]="['auth-records']">
    <mat-icon>videocam</mat-icon>
    <span>Auth Records</span>
</button>
<button mat-menu-item [routerLink]="['hr-admin']" *ngIf="admin">
  <mat-icon>people</mat-icon>
  <span>Employees</span>
</button>
<button mat-menu-item [routerLink]="['admin']" *ngIf="deviceAdmin">
  <mat-icon>important_devices</mat-icon>
  <span>Devices</span>
</button>
<button mat-menu-item (click)="logout();">
<mat-icon>people_outline</mat-icon>
<span>Sign out</span>
</button>
</mat-menu>
</mat-toolbar>